# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
.vscode/
.DS_Store
Thumbs.db 
uv.lock

# AI IDE
.qodo
.claude

# Takenoko
/prebuilt
/cache
/temp
/logs
/output
/configs/*
!/configs/examples/
!/configs/examples/**
/models